{% extends 'layout/base2.html.twig' %}
{% block body %}
    <h1>Cart</h1>

    {% if message is defined %}
        <h4>{{ message }}</h4>
    {% endif %}

    {% if cartProducts is defined %}

        {% set i = 0 %}

        <table border="1">

        <tr>

            <th>Product Name</th>

            <th>Pays</th>

            <th>Price</th>

            <th>Amount</th>

            <th>Supprimer</th>

        </tr>

        {% for cartProduct in cartProducts %}

            <tr>

                <th>{{ cartProduct.produit.name }}</th>
                <th>{{ cartProduct.pays.name }}</th>
                <th>{{ cartProduct.produit.price }}</th>
                <th>{{ cartProduct.amount }}</th>
                <th><a href="{{ path('app_cart_drop_id', {"id": cartProduct.id}) }}">Delete</a> </th>

            </tr>

            {% set i = i+1 %}

        {% endfor %}

        </table>

        <a href="{{ path('app_cart_validate') }}">Valider</a>
        <a href="{{ path('app_cart_clear') }}">Clear</a>
        {% if prixTotal is defined %}
            <h4>Prix total: {{ prixTotal }}</h4>
        {% endif %}

    {% endif %}

{% endblock %}