{% extends 'layout/base2.html.twig' %}

{% block title %}Liste produits{% endblock %}

{% block body %}

    <h1>Produits:</h1>

    {% if message is defined %}
        <h3>{{ message }}</h3>
    {% endif %}

    <table border="1">

        <tr>

            <th>Product Name</th>

            <th>Description</th>

            <th>Pays</th>

            <th>Restant</th>

            <th>Price</th>

            {% if forms is defined %}

                <th>Nombre</th>
                <th>Ajouter</th>

            {% endif %}

            {% if app.user %}
                {% if app.user.accountType == 1 %}
                    <th>Modifier</th>
                {% endif %}
            {% endif %}

        </tr>

        {% set i = 0 %}

        {% for produit in products %}

            <tr>

                <td>{{ produit.name }}</td>
                <td>{{ produit.description }}</td>
                <td>
                    <ul>
                        {% for pays in produit.pays %}
                            {{ pays.name }}
                        {% endfor %}
                    </ul>
                </td>
                <td>{{ produit.number }}</td>
                <td>{{ produit.price }}</td>

                {% if forms[i] is defined %}

                    {{ form_start(forms[i]) }}

                        <td>{{ form_row(forms[i].item_number) }}</td>

                        <td>{{ form_row(forms[i].send) }}</td>

                    {{ form_end(forms[i]) }}

                    {% if app.user %}
                        {% if app.user.accountType == 1 %}
                            {% set ma = {"id": produit.id} %}
                            <td><a href="{{ path('app_product_modify', ma) }}">Modifier</a> </td>
                        {% endif %}
                    {% endif %}

                {% endif %}

            </tr>

            {% set i = i+1 %}
        {% endfor %}

    </table>

{% endblock %}