{% extends 'layout/base.html.twig' %}

{% block body %}

    <h1>Produits:</h1>

    {% if message is defined %}
    <h3>{{ message }}</h3>

    {% endif %}

    {% if forms is defined %}
        {{ form(forms) }}
    {% endif %}

    <table border="1">

        <tr>

            <th>Product Name</th>

            <th>Description</th>

            <th>Pays</th>

            <th>Price</th>

            {% if forms is defined %}

                <th>Nombre</th>
                <th>Ajouter</th>

            {% endif %}

        </tr>

        {% set i = 0 %}

        {% for produit in products %}

            <tr>

                <td>{{ produit.name }}</td>
                <td>{{ produit.description }}</td>
                <td>
                    <ul>
                        {% for pays in produit.pays %}
                            {{ pays.name }}
                        {% endfor %}
                    </ul>
                </td>
                <td>{{ produit.price }}</td>

            </tr>

            {% set i = i+1 %}
        {% endfor %}

    </table>

{% endblock %}