{% extends 'layout/base2.html.twig' %}

{% block body %}
    <h1>User</h1>
    <table>
        <tr>

            <td>Nom</td>
            <td>Prenom</td>
            <td>Birthdate</td>
            <td>Mail</td>
            <td>Address</td>
            <td>Pays</td>
            <td>Password</td>
            <td>Supprimer</td>

        </tr>

        {% if accounts is defined %}

            {% set i = 0 %}

            {% for account in accounts %}

                <tr>

                    <td>{{ account.username }}</td>
                    <td>{{ account.lastname }}</td>
                    <td>{{ account.birthDate.format("d-m-y") }}</td>
                    <td>{{ account.email }}</td>
                    <td>{{ account.address }}</td>
                    <td>{{ account.pays.name }}</td>
                    <td>{{ account.password }}</td>
                    {% if app.user.accountType == 2 %}
                        {% if boolMod[i] is defined %}
                            {% if boolMod[i] %}
                                <td><a href="{{ path('app_modo_account_switchmod', {"id":account.id}) }}">Promote</a> </td>
                            {% else %}
                                <td><a href="{{ path('app_modo_account_switchmod', {"id":account.id}) }}">Demote</a> </td>
                            {% endif %}
                        {% endif %}
                    {% else %}
                        <td><a href="{{ path('app_modo_account_delete', {"id": account.id}) }}">Delete</a> </td>
                    {% endif %}

                </tr>

                {% set i = i+1 %}

            {% endfor %}

        {% endif %}

    </table>
{% endblock %}