{% extends 'layout/base.html.twig' %}

{% block body %}
    <h1>User</h1>
    <table>
        <tr>

            <td>Nom</td>
            <td>Mail</td>
            <td>Address</td>
            <td>Pays</td>
            <td>Supprimer</td>

        </tr>

        {% if accounts is defined %}

            {% set i = 0 %}

            {% for account in accounts %}

                <tr>

                    <td>{{ account.username }}</td>
                    <td>{{ account.email }}</td>
                    <td>{{ account.address }}</td>
                    <td>{{ account.pays.name }}</td>
                    {% if modForms[i] is defined %}
                        {{ form_start(modForms[i]) }}
                        <td>{{ form_row(modForms[i].send_promote) }}</td>
                        {{ form_end(modForms[i]) }}
                    {% endif %}

                    {% if demodForms[i] is defined %}
                        {{ form_start(demodForms[i]) }}
                        <td>{{ form_row(demodForms[i].send_demod) }}</td>
                        {{ form_end(demodForms[i]) }}
                    {% endif %}

                </tr>

                {% set i = i+1 %}

            {% endfor %}

        {% endif %}

    </table>
{% endblock %}