<!-- header.html.twig -->

<link rel="stylesheet" href="{{ asset('stylesheet/headernav.css') }}">

<div>
    {% if not app.user %}
        <img src="{{ asset('image/uncheck.png') }}" style="max-height: 100px; max-width: 100px;">
    {% elseif app.user.accountType>=1%}
        <img src="{{ asset('image/trone.jpg') }}" style="max-height: 100px; max-width: 100px;">
    {% else %}
        <img src="{{ asset('image/check.jpg') }}" style="max-height: 100px; max-width: 100px;">
    {% endif %}
</div>

<nav>

    <ul>

        <li><a href="{{ path('app_welcome') }}">Accueil</a></li>

        {% if not app.user or app.user.accountType != 2 %}
        <li><a href="{{ path('app_produits_p') }}">Produits</a></li>
        {% endif %}

        <li><a href="#">Compte</a>

            <ul>

                {% if not app.user %}

                    <li><a href="{{ path('app_login') }}">Login</a></li>
                    <li><a href="{{ path('app_register') }}">Register</a></li>

                {% else %}
                    <li><a href="{{ path('app_user') }}">Information</a></li>
                    <li><a href="{{ path('app_logout') }}">Logout</a></li>

                {% endif %}

            </ul>

        </li>

        {% if app.user %}

            {% if app.user.accountType >= 1 %}

                <li><a href="{{ path('app_cart') }}">Moderation</a>

                    <ul>
                        {% if app.user.accountType == 2 %}
                            <li>
                                <a href="{{ path('app_admin_account') }}">Changer moderateur</a>
                            </li>
                        {% else %}
                            <li>
                                <a href="{{ path('app_admin_addproduct') }}">Ajouter Produit</a>
                            </li>
                            <li>
                                <a href="{{ path('app_modo_account') }}">Retirer User</a>
                            </li>
                        {% endif %}
                    </ul>

                </li>

            {% endif %}

            {% if app.user.accountType == 2 %}
                <li><a href="https://fr.wikipedia.org/wiki/Life_Is_Strange_(jeu_vid%C3%A9o)">Strange</a> </li>
            {% endif %}

        {% endif %}

        {% if not app.user or app.user.accountType != 2 %}
        <li><a href="{{ path('app_cart') }}">Panier({{ render(controller('App\\Controller\\CartController::getCartSize')) }})</a></li>
        {% endif %}

    </ul>

</nav>

{% for flashMessage in app.session.flashbag.get('error') %}

    <div style="background-color: red">
        {{ flashMessage }}
    </div>

{% endfor %}

{% for flashMessage in app.session.flashbag.get('win') %}

    <div style="background-color: green">
        {{ flashMessage }}
    </div>

{% endfor %}